{%extends 'base.html' %}

{%block con%}
    <div class="text-center">
        <h1>{{o.name}}</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{o.getpic}}" width="100%">
        </div>
        <div class="col-sm-8">
            <textarea class="text-center" cols="100%" rows="11" disabled>{{o.con}}</textarea>
            <h4 class="mt-2 text-center">가격 : <b>{{o.price}} 원</b></h4>
            {% if user.is_superuser %}
            <a class="text-end" href="#"><button class="btn btn-warning">수정</button></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">삭제</button>
            {% endif %}
        </div>
        
    </div>



    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">메뉴 삭제</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          정말 메뉴를 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <a class="text-end" href="{% url 'menu:delete' o.name%}"><button type="button" class="btn btn-primary">삭제</button></a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}